<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/2page.css' %}">
  <link rel="stylesheet" href="{% static '/css/font.css' %}">
  <title>Document</title>
</head>

<body>

  <div class="body">
    <div class="back">
      <div class="two_title">
        AI 충녕이
      </div>
      <div class="Search_Zone">
        <div class="Search_box">
          <form action="/search/">
          <input class="Search_input" type="text" id='search_input' name="key" placeholder="{{key}}" value="{{key}}">
          <input type="hidden" name="category" value="{{category}}" id="category">
          <input type="hidden" name="mode" value="title" id="category">
          <input type="checkbox" name="mode" value="content" >
          <button class="Search_icon" type="submit">
          </form>
          <a href="2page.html">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="10" cy="10" r="7"></circle>
                <line x1="21" y1="21" x2="15" y2="15"></line>
              </svg>
            </a>
          </button>
        </div>
      </div>
      <div class="btn_link">
        <a href="/index/">
          <div class="link_home">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
            </svg>
          </div>
        </a>
        <a href="https://www.sejong.go.kr/kor.do" target="_blank">
          <div class="link_web">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
              <line x1="10" y1="14" x2="20" y2="4"></line>
              <polyline points="15 4 20 4 20 9"></polyline>
            </svg>
          </div>
        </a>
        <a href="">
          <div class="link_share">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="6" cy="12" r="3"></circle>
              <circle cx="18" cy="6" r="3"></circle>
              <circle cx="18" cy="18" r="3"></circle>
              <line x1="8.7" y1="10.7" x2="15.3" y2="7.3"></line>
              <line x1="8.7" y1="13.3" x2="15.3" y2="16.7"></line>
            </svg>
          </div>
        </a>
        <a href="">
          <div class="link_star">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
              </path>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="result_text" id="search_num">
      검색중<img src="{% static 'gif/Spinner-1s-200px.gif'%}" >
    </div>
    <div class="output">
      <div class="op_list">
        <div class="op_table">
          <table class="list_table">
            <thead>
              <th width="50">순번</th>
              <th width="700">제목</th>
              <th width="150">날짜</th>
              <th width="300">수집처</th>
            </thead>
            <tbody id="tbody">
            </tbody>            
        </table>
      </div>
    </div>
    <div class="paging">
      <div class="paging_box">
        <div class="paging_list" id = 'page_list'>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<script>
if( `{{key}}`!='' & `{{category}}`!='all'){
  console.log(12222)
  console.log(document.getElementById('category'))
}
async function 함수(mode) {
const list = await 리스트함수(mode);
console.log(list)
return list
}
function 리스트함수(mode) {
 return new Promise((resolve, reject) => {
 fetch(`/read_json/?key={{key}}&category={{category}}&mode={{mode}}`)
.then(response => response.json())
.then(data => {
let cord = ''
  for (record of data.slice(0,10)){
  cord += '<tr>'
    cord+=`<td>${record['article_num']}</td>`
    cord+=`<td><a href = ${record['href']} target='_blank'>${record['title']}</a></td>`
    cord+=`<td>${record['updated']}</td>`
    cord+=`<td>${record['writer']}</td>`
  cord += '</tr>'
}
document.getElementById('tbody').innerHTML = cord
document.getElementById('search_num').innerHTML = `<b>{{key}}</b>에 관한 총 ${data.length}건의 검색결과 입니다`
console.log("{{category}}")
if ( "{{category}}"){
  document.getElementById('search_num').innerHTML = `<b>{{cate_key}} </b> 카테고리에 관한 총 ${data.length}건의 검색결과 입니다`
}
if (mode=='first'){
    let len = data.length
    if (len > 100){
      let page_cord = ''
      for ( let i = 1; i<=10; i++){
        page_cord += `<button onclick='page_change(${i})' id='button_${i}'>${i}</button>`
      }
      page_cord += `<button onclick='next_sector(11)'>다음으로</button>`

      document.getElementById('page_list').innerHTML = page_cord
    }else{
      let page_cord = ''
      for ( let i = 1; i<=parseInt(len/10); i++){
        page_cord += `<button onclick='page_change(${i})' id='button_${i}'>${i}</button>`
      }
      document.getElementById('page_list').innerHTML = page_cord
    }}
resolve(data);
});
});
}
let data =함수('first')
function next_sector(next){
  page_num=Number(next)
  let cord = ''
  data.then((res)=>{
  for (i of res.slice(10*(page_num-1),10*(page_num))){
    cord += '<tr>'
    cord+=`<td>${i['article_num']}</td>`
    cord+=`<td><a href = ${i['href']}>${i['title']}</a></td>`
    cord+=`<td>${i['updated']}</td>`
    cord+=`<td>${i['writer']}</td>`
    cord += '</tr>'
  }
  let page_cord = ''
  page_cord += `<button onclick='before_sector(${page_num-1})'>이전으로</button>`
      for ( let i = 1; i<=10; i++){
        page_cord += `<button onclick='page_change(${page_num-1+i})' id='button_${page_num-1+i}'>${page_num-1+i}</button>`
      }
      page_cord += `<button onclick='next_sector(${page_num+10})'>다음으로</button>`

      document.getElementById('page_list').innerHTML = page_cord
  document.getElementById('tbody').innerHTML = cord
  })
}
function before_sector(before){
  
  page_num=Number(before)
  let cord = ''
  data.then((res)=>{
  for (i of res.slice(10*(page_num-1),10*(page_num))){
    cord += '<tr>'
    cord+=`<td>${i['article_num']}</td>`
    cord+=`<td><a href = ${i['href']}>${i['title']}</a></td>`
    cord+=`<td>${i['updated']}</td>`
    cord+=`<td>${i['writer']}</td>`
    cord += '</tr>'
  }
  let page_cord = ''
  if (page_num !=10){
  page_cord += `<button onclick='before_sector(${page_num-10})'>이전으로</button>`}
      for ( let i = 1; i<=10; i++){
        page_cord += `<button onclick='page_change(${page_num-10+i})' id='button_${page_num-10+i}'>${page_num-10+i}</button>`
      }
      page_cord += `<button onclick='next_sector(${page_num+1})'>다음으로</button>`

      document.getElementById('page_list').innerHTML = page_cord
  document.getElementById('tbody').innerHTML = cord
  })
}
function page_change(page_num){
  page_num=Number(page_num)
  let cord = ''
  data.then((res)=>{
  for (i of res.slice(10*(page_num-1),10*(page_num))){
    cord += '<tr>'
    cord+=`<td>${i['article_num']}</td>`
    cord+=`<td><a href = ${i['href']}>${i['title']}</a></td>`
    cord+=`<td>${i['updated']}</td>`
    cord+=`<td>${i['writer']}</td>`
    cord += '</tr>'
  }
  document.getElementById('tbody').innerHTML = cord
})
}
</script>
</html>