<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input placeholder="all" type="text" id = 'key'>
    <button onclick="search()">검색</button>
    <div id = 'article'></div>
</body>
<script>
    function search(){
        let key ='all'
        if(document.getElementById('key').value!=''){
            key =document.getElementById('key').value
        }
        const ajax = fetch(`/read/?key=${key}`).then(
            (res)=>res.json()
        ).then(function(response){
            console.log(response)
            let code = "<div>"
            for (record of response){
                // id = record['id']
                site_name = record['writer']
                title = record['title']
                // console.log(title)
                if(key!='all'){
                    title = title.split(key)
                    console.log(title)
                    let co=''
                    let count = 1
                    for (c of title){
                        console.log(c)
                        co +=c
                        if (count != title.length){ 
                            co+= `<span style='background-color:yellow'>${key}</span>`
                        }
                        count+=1
                    }
                    title = co
                }
                updated = record['updated']
                // plus  = record['plus']
                href = record['href']
                file= record['file']
                score= record['score']
                code += `
                <a href = ${href}>${site_name} | ${title} | ${updated} | ${file} | ${score}</p>
                `
            }
            code +='</div>'
            document.getElementById('article').innerHTML = code;
        })
    }
</script>

</html>